/*快递100字体*/
.font1{
    font-family:华文行楷;
}
.font2{
    font-family:方正舒体;
}
/*脚部背景*/
.bg1{
    color:#666;
    background: #e8e8e8;
}
/*脚部高度*/
.f_height{
    height:300px;
}
/*轮播图片大小*/
.img_img{
    width:1110px;
    height:590px;
}
/*轮播图时间*/
.carousel-item{
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
/*轮播样式*/
/*1.左右按钮样式*/
.carousel-control-prev,.carousel-control-next{
    width: 3%;
    height: 15%;
    top: 42%;
    background-color: #aaaaaa;
    border-radius: 0.25rem;
    opacity: 0.2;
}
/*2.指示器样式*/
.carousel-indicators li{
    width: 0.6rem;
    height: 0.6rem;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
}
/*3.指示器背景*/
.carousel-indicators .active{
    background-color: #007bff;
}
/*按钮*/
.a_px{
    padding-left: 8rem !important;
    padding-right: 8rem !important;
}
/*背景图*/
.img_960{
    height:500px;
    background-image:url("../k1/img/courier_app1.png");
    background-repeat: no-repeat;
    background-size: contain;
}
/* 
.img_125_1{
    height:56px;
    background-image:url("../k1/sz_bg_service_01.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.img_125_2{
    height:56px;
    background-image:url("../k1/sz_bg_service_02.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.img_125_3{
    height:56px;
    background-image:url("../k1/sz_bg_service_03.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.img_125_4{
    height:56px;
    background-image:url("../k1/sz_bg_service_04.png");
    background-repeat: no-repeat;
    background-size: contain;
} */
/*图片过渡*/
.img_transition_f{
    position: relative;
}
.img_transition_s1{
    position: absolute;
    top:0px;
    left:50px;
}
.img_transition_s2{
    position: absolute;
    top:10px;
    left:0px;
}
/*精灵图*/
.dd_bg{
    background-image: url("../k1/img/service_01.png");
}
.bg_position1{
    width: 540px;
    height: 110px;
    background-position:-4px -1045px;
}
.bg_position2{
    width: 360px;
    height: 300px;
    background-position:-360px -753px;
}
.bg_position3{
    width: 360px;
    height: 290px;
    background-position:-360px -440px;
}
.bg_position4{
    width: 360px;
    height: 300px;
    background-position:0px -740px;
}
.bg_position5{
    width: 360px;
    height: 310px;
    background-position:10px -420px;
}
.bg2{
    background: #f8f9fa;
}
/*图片过渡显示*/

/*按钮位置浮动*/
.img_transition_s3{
    position: absolute;
    top:150px;
    left:300px;
}
.bg3{
    background: #f7f8fa;
}
/*字号大小*/
._rem{
    font-size: 0.9rem;
}
/**/
.img_transition_s4{
    position: absolute;
    top:100px;
    left:220px;
}
.img_transition_s5{
    position: absolute;
    top:205px;
    left:260px;
}
.b-radius{
    border-radius:5rem;
}
/*①②③*/
.span_bg{
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 28px;
    background: url("../k1/img/sec03_circle.png") center center no-repeat;
    background-size: 100% 100%;
}
/*阴影*/
.blue_box-shadow{
    width:266px;
    height:266px;
    box-shadow:  0px 0px 40px 0px rgba(0,102,255,0.1);
}
/*hover*/
.bg_transition{
    width: 606px;
    height: 300px;
    display: block;
    background: url("../k1/img/sec04_01.png");
}
.img_transition_s6{
    position: absolute;
    top:140px;
    left:350px;
}
/*三张图片大小*/
.w_220_198{
    width: 220px;
    height: 198px;
}
/*边框*/
.border_1{
    border: 1px solid #317EE7;
}
.transition_s7{
    position: absolute;
    top:-20px;
    left:391px;
}
/*10张图*/
.img_5_1{
    width: 53px;
    height: 53px;
}
.img_5_2{
    width: 170px;
    height: 37px;
}
.img_5_3{
    width: 131px;
    height: 32px;
}
.img_5_4{
    width: 164px;
    height: 53px;
}
.img_5_5{
    width: 55px;
    height: 67px;
}
.img_5_6{
    width: 110px;
    height: 40px;
}
.img_5_7{
    width: 202px;
    height: 25px;
}
.img_5_8{
    width: 235px;
    height: 84px;
}
.img_5_9{
    width: 86px;
    height: 66px;
}
.img_5_10{
    width: 205px;
    height: 31px;
}
/*6图大小*/
.img_w_h{
    width: 289px;
    height: 252px;
}
/*6---背景*/
.bg_6{
    background: url("../k1/img/bg_blue_gradient.png");
    background-size: 100%;
}
.img_268{
    width: 268px;
    height: 268px;
}
.img_168{
    width: 168px;
    height: 168px;
}